* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}
:root {
    --dark: black;
    --light: white;
}
body {
    
    background: linear-gradient(to right, #FF6EEB 0%, #FF9D6C 20%, #79FF6E 40%, #6EFFFF 60%, #D09DF2 80%, #FF6EEB 100%);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*Header*/
.nav-link {
    color: var(--light);
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    float: right;
    margin-left: 30px;
}
.meetme{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.email {
    text-decoration: none;
    color: var(--dark);
    font-family:'Courier New', Courier, monospace;
}

/*About Me*/
#about-me{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--light);
    box-shadow: 15px 15px 20px var(--dark);
    border-radius:15px;
    margin-block: 50px;
    margin-left:70px;
    margin-right: 70px;
    border: solid 2px var(--dark);
    text-align: center;
}
h2 {
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 15px;
    text-align: center;
}
.me {
    max-width: 500px;
    max-height: 500px; 
   
}
.icon{
    text-align: center;
}

/*Skills*/
.skills{
    -webkit-column-count: 3;
    -moz-column-count: 3;
         column-count: 3;
}
/*Projects*/
.project2,
.project1{
    position:relative;
    margin-bottom: 70px;
}
.gif{
    box-shadow: 15px 15px 20px var(--dark);
}
.gif {
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}

.discription{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.title{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.title:hover{
    color: var(--light);
}


/*footer*/
#Thankyou {
    color: var(--light);
    text-align: center;
    padding-bottom: 10px;
   font-family: 'Press Start 2P', cursive;
   font-size: 15px;
   text-shadow: 15px 15px 15px var(--dark);
}


/* On screen at is 768px or less, set background color to purple */
@media screen and (max-width: 768px) {
   .content{
    margin-left: 50px;
   }
   .title,
   .discription{
    text-align: center;
   }
    .nav-link {
        display: block;
        margin:4px;
        height: 35px;
        width:80px;
        background: var(--dark);
        border-radius: 9px;
        font-size: 8px;
        text-align: center;
    }
   
}

@media screen and (min-width: 769px) {
.gif:hover {
    min-width: 1000px;
    min-height: 800px;
   
}
}